{
  "includeCoAuthoredBy": false,
  "cleanupPeriodDays": 99999,
  "permissions": {
    "allow": [
{{- if eq .chezmoi.os "darwin" }}
      "Skill(vp-reporter)",
      "Bash(vp:*)",
{{- end }}
      "WebSearch"
    ],
    "deny": [
      "Bash(npm:*)",
      "Bash(npx:*)"
    ],
    "ask": []
  },
  "env": {
    "CLAUDE_CODE_HIDE_ACCOUNT_INFO": "1"
  },
{{- if eq .chezmoi.os "darwin" }}
  "sandbox": {
    "excludedCommands": ["vp"]
  },
{{- end }}
  "hooks": {
{{- if eq .chezmoi.os "darwin" }}
    "Notification": [
      {
        "hooks": [
          {
            "type": "command",
            "command": "vp \"クロードからの通知があるわよ！\"",
            "async": true
          }
        ]
      }
    ],
    "Stop": [
      {
        "hooks": [
          {
            "type": "command",
            "command": "vp \"作業が完了したわよ！\"",
            "async": true
          }
        ]
      }
    ],
    "PreCompact": [
      {
        "matcher": "auto",
        "hooks": [
          {
            "type": "command",
            "command": "vp \"コンテキストを圧縮するわよ！\"",
            "async": true
          }
        ]
      }
    ]
{{- end }}
  },
  "statusLine": {
    "type": "command",
    "command": "bunx -y ccstatusline@latest",
    "padding": 0
  },
  "enabledPlugins": {
    "frontend-design@claude-plugins-official": true,
    "ralph-loop@claude-plugins-official": true,
    "rust-analyzer-lsp@claude-plugins-official": true
  },
  "alwaysThinkingEnabled": true,
  "language": "Japanese"
}
